  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Orders</a>
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-light my-2 my-sm-0 mx-3" roll="button" href="/admin/add-user">Add User</a>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
      <a class="btn btn-outline-light my-2 my-sm-0" type="submit" roll="button" href="/admin/logout"> Logout</a>

  </div>
</nav>
</header>